@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200&display=swap');


/* styles the input element for uploading an image file */

.upload-img > label {
  color: white;
  text-decoration: none;
  padding: 0.5em;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  
  height: 1em;
  width: 4em;
  background-color: rgb(7, 97, 170);
  color: var(--restaurant-info-score-button-text-color);
  border: none;
  border-radius: 0px;
}


/* styles the save button */

.save {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 2em;
  width: 5em;
  border-radius: 3px;
  background-color: rgb(100, 100, 100);
  border: 1px solid rgb(120, 120, 120);
  color: var(--restaurant-info-score-button-text-color);
}

.upload-img {
  color: white;
  height: fit-content;
  padding: 0.5em;
  font-size: 1.2em;
  background-color: rgb(85, 10, 125);
  color: white;
  border: 1px solid rgb(105, 30, 155);
  border-radius: 3px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

/* styles the submit button */

.submit {
  align-self: flex-end;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 2em;
  width: 6em;
  border-radius: 2px;
  border: 1px solid rgb(28, 101, 161);
  background-color: rgb(8, 81, 141);
  color: var(--restaurant-info-score-button-text-color);
}

/* styles the apply button */

.apply {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 1.3em;

  background-color: rgb(180, 80, 75);
  color: var(--dish-filter-button-text-color);
  border: none;
  border-radius: 0px;

  height: 1.8em;
  width: 6em;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 1em;
}

.apply:hover {
  background-color: rgb(200, 100, 95);
  color: var(--dish-filter-button-hover-text-color);
}

.favorite {
  filter: invert(73%) sepia(100%) saturate(431%) hue-rotate(358deg) brightness(103%) contrast(104%);
}

.favorite > form > input {
  max-width: 35px;
  max-height: 35px;
}
