/* 
@ handles the layout of common components present on (almost) every page
*/


/* body layout */

* {
  box-sizing: border-box;
}


html, body {
  margin: 0;
  height: 100%;
}

body {
  display: grid;
  grid-template-areas: "header"
                       "main"
                       "footer";
  grid-template-rows: 55px 1fr 55px;
  grid-template-columns: 1fr;

  margin: 0;
  padding: 0;
}


/* header layout */

body > header {  
  grid-area: header;
  height: 55px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;

  width: 100vw;
}

body > header > nav {
  align-self: center;
}

body > header > #search-bar-container {  
  display: flex;
  place-content: center;
}

body > header > #header-signup, body > header > #header-account {
  display: flex;
  place-content: end;
  align-items: stretch;

  column-gap: 2em;
  padding-right: 1em;
}

body > header > #header-account > form {
  padding: 0px 0.5em;
  margin: 0px;
  height: 100%;
}

body > section#search-results-container {
  margin: 0;
  padding: 0.5em 0;

  position: fixed;
  top:56px;
  left:50%;
  transform: translate(calc(-50% - 2.5px), 0);  
  
  
  min-width: 28rem;
  max-width: 28rem;

  display: flex;
  flex-direction: column;
}


/* main content layout */

main {
  grid-area: main;
  width: 80%;
  margin: 0;
  padding: 0;
  align-self: center;
  justify-self: center;
}


/* footer layout */

body > footer {
  grid-area: footer;
  align-self: end;
}