@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background-color: black;
}

body::before {
  z-index: -1;
  content: "";
  background-image: url("../assets/img/bg/dish.jpg");
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.50;
}


/* change later */

body > main {
  margin-top: 6em;
}


/* restaurant and dish category portions */

body .suggestions {
  display: grid;
  grid-template-areas: "header"
                       "images";
  text-align: center;
}

.suggestions > h1 {
  grid-area: header;

  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
}

.suggestions > .images {
  grid-area: images;

  display: flex;
  justify-content: center;
}

.suggestions > .images a {
  text-decoration: none;
}

.suggestions > .images figure img {
  border-radius: 5%;
}

.suggestions > .images figure figcaption {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
}