#restaurant-previews, #dish-previews {
  display: flex;
  flex-direction: row;
  column-gap: 3em;
  row-gap: 3em;
  flex-wrap: wrap;
}

.preview {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  font-family: 'Raleway', sans-serif;
  color: white;

  align-items: center;
  justify-items: center;

  background-color: rgb(25, 25, 25);
  border: 2px solid rgb(60, 60, 60)
}

.info {
  padding: 1em;
  min-width: 15em;
  min-height: 12em;
  text-align: center;
}

.order {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.order > form {
  text-align: center;
  align-self: center;
}

.info > h2 {
  font-weight: 400;
  font-size: 20px;
}

.categories-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: 300;
  font-style: italic;
}

.icons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.score, .price {
  display: flex;
  flex-direction: row;
  margin-right: auto;
}

#dish-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

#dish-favorite-icon {
  margin-left: auto;
}

.dish-description > .dish-name-favorite {
  display: flex;
  flex-direction: row;
}

#dish-order {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon {
  align-self: center;
  max-width: 2rem;
  max-height: 2rem;
  height: 2rem;
  width: 2rem;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(138deg) brightness(103%) contrast(101%);
}

.image-container > img {
  object-fit: cover;
  height: 100%;
  border-radius: 20px;
  display: flex;
  align-items: center;
}
