#restaurant-previews, #dish-previews {
  display: flex;
  flex-direction: row;
  column-gap: 3em;
  row-gap: 3em;
  flex-wrap: wrap;

  max-width: 100%;
  max-height: 100%;

  width: fit-content;
  height: fit-content;
}

.preview {
  display: flex;
  flex-direction: row;

  width: fit-content;
  height: fit-content;
  font-size: 0.8em;
  max-width: 100%;

  border-radius: 20px;
  font-family: 'Raleway', sans-serif;
  color: white;

  align-items: center;
  justify-items: center;

}

.info {
  padding: 1em;
  min-width: 16em;
  min-height: 12em;
  text-align: center;
}

.order {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.order > form {
  text-align: center;
  align-self: center;
}

.info > h2 {
  font-weight: 400;
  font-size: 20px;
}

.categories-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: 300;
  font-style: italic;
}

.icons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.score, .price {
  display: flex;
  flex-direction: row;
  margin-right: auto;
}

#dish-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

#dish-favorite-icon {
  margin-left: auto;
}

.dish-description > .dish-name-favorite {
  display: flex;
  flex-direction: row;
}

#dish-order {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon {
  align-self: center;
  max-width: 2rem;
  max-height: 2rem;
  height: 2rem;
  width: 2rem;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(138deg) brightness(103%) contrast(101%);
}

.image-container > img {
  object-fit: cover;
  height: 100%;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

/* media queries */

@media screen and (max-width: 60em) {
  body > main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    row-gap: 1em;

    width: 100%;
  }

  body > main > aside#restaurant-filter, body > main > aside#dish-filter {
    margin: 0;
  }

  #restaurant-previews, #dish-previews {
    justify-content: center;
  }

  .image-container {
    max-height: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 30em) {
  .preview, .image-container > img {
    max-width: 100%;
    height: auto;
  }

  .info {
    font-size: 0.9em;
  }
}