/*
@ handles the styling of the sidebar
*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Hamburguer button */
  /* unchecked */

header > input#hamburger {
  grid-area: hamburger;
  /*display: absolute;*/
  appearance: none;
  transform: translateY(-10px);
  z-index: 10;
  max-width: 2em;
  border-radius: 50%;
  height: 2em;
  max-height: 2em;
}

header > input#hamburger::after {
  font-size: 2rem;
  color: white;
  content: '\2630';
  grid-area: hamburger;
}

  /* checked */
  
header > input#hamburger:checked {
  transform: translateY(-1px);
}

header > input#hamburger:checked::after {
  font-size: 1.5rem;
  color: white;
  content: '\2715';
  grid-area: hamburger;
}

/* Sidebar */
  /* unchecked */

header > aside#sidebar {
  position: fixed;

  background-color: rgb(66, 66, 75);
  
  height: 100vh;
  width: 0px;
  max-width: 0px;
  
  margin: 0px;
  padding: 0px;
  
  top: 0px;
  left: 0px;

  box-shadow: none;

  transition: width 0.3s ease-out, max-width 0.3s ease-out;
}

  /* checked */

header > input#hamburger:checked ~ aside#sidebar {
  z-index: 9;
  width: 20vw;
  max-width: 20vw;
  box-shadow: 4px 0px 25px black;
}


/* nav menu */
  /* unchecked */
  
  header > aside#sidebar > nav#menu {
    width: 100%;
    height: 100%;

    padding: 0px;
    padding-top: 2em;
    margin: 0px;

    transition: transform 0.3s ease-out;
    transform: translate(-20vw, 0px);
  }
  /* checked */

  header input#hamburger:checked ~ aside#sidebar > nav#menu {
    transform: translate(0px, 0px);

  }

  /* checked */

/* section */

  header > aside#sidebar > nav#menu > section.sidebar-section {
    padding: 0px;
    margin: 0px;
    width: 100%;
    border-top: 0.5px solid rgb(110, 110, 112);
  }

  header > aside#sidebar > nav#menu > section.sidebar-section:first-child {
    border-top: 0px solid rgb(110, 110, 112);
  }

  
/* H1 */

  header > aside#sidebar > nav#menu > section.sidebar-section > h1 {
    margin: 0.7em 0px 0px 0.6em;
    font-family: 'Raleway';
    font-size: 1.2em;
    font-weight: 600;
    color: rgb(110, 110, 112);
  }
 
/* UL */
  /* unchecked */

  header > aside#sidebar > nav#menu > section.sidebar-section > ul {
  display: flex;
  flex-direction: column;

  padding: 0px;
  margin-top: 0px;
  
  max-width: 100%;
  width: 100%;
    ;}

  /* checked */
  /*
  header > input#hamburger:checked ~ aside#sidebar > nav#menu > ul {
  }
  */

/* LI */

  /* unchecked */

header > aside#sidebar > nav#menu > section.sidebar-section > ul > li {
  text-align: left;
  max-height: 3em;
  height: 3em;
  overflow: hidden;

  display: flex;
  align-items: stretch;
  place-content: center;
  transition: background-color 0.2s ease-in;
}

  /* checked */

header > input#hamburger:checked ~ aside#sidebar > nav#menu > section.sidebar-section > ul > li {
  opacity: 1;

  max-width: 100%;
  width: 100%;
}

  /* hovered */

header > aside#sidebar > nav#menu > section.sidebar-section > ul > li:hover {
  background-color: rgb(84, 84, 95);
}

/* links */

header > aside#sidebar > nav#menu > section.sidebar-section > ul > li > a {
  text-decoration: none;

  display: flex;
  place-items: center;

  height: 100%;
  width: 100%;

  color: white;
  font-family: 'Raleway';
  font-size: 1.2em;
  font-weight: 500;

  white-space: nowrap;

}

/* links' content */

header > aside#sidebar > nav#menu > section.sidebar-section > ul > li > a > span {
  margin-left: 1em;
  text-align: left;
}



