@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


#stickers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 2em;

  font-family: 'Raleway', sans-serif;
  color:white;
}

#stickers-header {
  font-family: 'Raleway', sans-serif;
  color:white;
  text-align: center;
  font-size: 2em;
}

.large-icon {
  max-height: 4em;
  max-width: 4em;

  height: 4em;
  width: 4em;

  filter: invert(68%) sepia(53%) saturate(7306%) hue-rotate(58deg) brightness(92%) contrast(102%);
  margin: 0 auto;
}

.sticker-container > figure {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 1em;
}

.sticker-container > figure > figcaption {
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
}

.sticker-container > figure > p {
  text-align: center;
}
