@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.order-info > * {
  font-weight: 500;
}

.state {
  font-weight: 300;
  font-style: italic;
}

select {
  -webkit-appearance: button;
  font-family: 'Raleway', sans-serif;
  -moz-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-padding-end: 20px;
  -moz-padding-end: 20px;
  -webkit-padding-start: 2px;
  -moz-padding-start: 2px;
  background-color: rgb(40, 40, 40); /* Fallback color if gradients are not supported */
  background-position: center right;
  background-repeat: no-repeat;
  border: none;
  border-radius: 2px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  color: white;
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

select:active {
  background-color: rgb(60, 60, 60);
}


