@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --list-dishes-body-background-color: black;
  
  --list-dishes-text-color: white;
  
  --dish-filter-background-color: rgb(31, 31, 31);
  
  --dish-filter-button-color: #4abc11;
  --dish-filter-button-hover-color: #3ea10c ;
  --dish-filter-button-text-color: white;
  --dish-filter-button-hover-text-color: white;

  --preview-dish-category-h5-border-color: white;
}

* {
  box-sizing: border-box;
}

/* body styling */
body {
  background-color: rgb(40, 40, 40);
  overflow: hidden;
}
/* end body styling */


/* main structure */
body > main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "filter previews";
  column-gap: 1em;
  
  justify-items: start;
  align-items: center;
  margin-top: 5em; 
}
/* end main structure */


/* filter aside */
aside#dish-filter {
  grid-area: filter;
  justify-self: center;
  align-self: center;
  margin: 1em;
  padding-top: 0.5em;

  color: var(--list-dishes-text-color);
  background-color: var(--dish-filter-background-color);

  height: fit-content;
  max-height: 100%;
  min-width: 15em;
  border-radius: 10px;
  font-family: 'Raleway', sans-serif;
}

#dish-filter > * {
  padding: 1em;
}

aside#dish-filter > h1 {
  text-align: center;
  padding: 0;     
  margin: 0;
  width: 100%;

  text-align: center;
}

aside#dish-filter > form {
  padding: 0;
  padding-left: 1em;
  margin: 0;
}
/* end filter aside */


/* dish previews container */
#dish-previews {
  grid-area: previews;
  color: var(--list-dishes-text-color);
  font-family: 'Raleway ', sans-serif;
  padding: 0;
}


/* dish previews items */
body #dish-previews > .dish-preview:first-child {
  margin-top: 0;
}

body #dish-previews > .dish-preview:last-child {
  margin-bottom: 0;
}

#dish-previews > .dish-preview {
  padding: 0;

  margin: 3em 0;
  
  display: flex;
  align-items: stretch;

  position: relative;
  
  width: 1000px;
  height: 120px;
  max-width: 1000px;
  max-height: 120px;

  font-family: 'Raleway', sans-serif;
}

#dish-previews > .dish-preview > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;

  z-index: -1;
}

#dish-previews > .dish-preview > button.favorite-dish {
  position: absolute;
  display: inline;
  top: 1em;
  right: 1em;
  margin: 0;
  background: none;
  border: none;
  
  max-width: 2em;
  max-height: 2em;
}

#dish-previews > .dish-preview > button.favorite-dish > img {
  max-width: 100%;
  max-height: 100%; 
}

#dish-previews > .dish-preview > h1.dish-preview-title {
  position: absolute;
  left: 1em;
  top: 1em;
  margin: 0;
}

#dish-previews > .dish-preview > #dish-price {
  padding: 0;
  margin: 0;

  position: absolute;
  right: 0.5em;
  bottom: 0.5em;
  margin: 0;
  align-self: flex-end;
}

#dish-previews > .dish-preview > #dish-restaurant {
  padding: 0;
  margin: 0;

  position: absolute;
  left: 1.5em;
  top: 3.2em;
  margin: 0;
  align-self: flex-start;
}

#dish-previews > .dish-preview > .dish-categories-container {
  margin: 0;
  padding: 0;

  position: absolute;
  bottom: 0.5em;
  left: 0.5em;

  height: fit-content;
  max-width: 80%;

  display: flex;
  flex-wrap: nowrap;
  column-gap: 0.2em;

  overflow: scroll; 
  -ms-overflow-style: none; /*edge and IE*/
  scrollbar-width: none; /* firefox */
}

.dish-categories-container::-webkit-scrollbar { /* chrome, safari */
  display: none;
}

#dish-previews > .dish-preview > .dish-categories-container > h5.preview-dish-category {
  margin: 0;
  padding: 0.3em;

  min-height: 1em;
  max-height: 1em;

  border: 0.5px solid var(--preview-dish-category-h5-border-color);
  border-radius: 2px;

  font-family: 'Raleway';
  font-size: 1em;
  font-weight: 300;
}

/* anchors */
#dish-filter a, #dish-previews a {
  text-decoration: none;
  color: var(--list-dishes-text-color);
}

/* dish-filter display structure */
#dish-filter > form {
  display: grid;
  grid-template-areas: "price"
                       "categories";
}

#dish-filter > form > #dish-price {
  grid-area: price;
}

#dish-filter > form > #dish-category {
  grid-area: categories;
}


/* dish-filter styling */

/* price section display structure */
#dish-filter > form > #dish-price > #price-input-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;

  column-gap: 1.5em;
}

/* apply margin to the number inputs in the price section */
#dish-filter > form > #dish-price > #price-input-container .price-number {
  margin: 0.5em;
}


/* category section display structure */
#dish-filter > form > #dish-category > #category-input-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
}

/* apply padding and margin to checkbox inputs in the category section */
#dish-filter > form > #dish-category > #category-input-container .category-checkbox {
  padding: 1em;
  margin: 0.6em;
}

/* filter button styling */
#dish-filter > form > button {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 1.3em;

  background-color: var(--dish-filter-button-color);
  color: var(--dish-filter-button-text-color);
  border: none;
  border-radius: 0px;

  height: 1.8em;
  width: 8em;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 1em;
}

#dish-filter > form > button:hover {
  background-color: var(--dish-filter-button-hover-color);
  color: var(--dish-filter-button-hover-text-color)
}