* {
  box-sizing: border-box;
}

body {
  background-color: rgb(40, 40, 40);
  overflow: hidden;
}

main > h1 {
  color: white;
  font-family: 'Raleway', sans-serif;
text-align: center;
}

.setup-restaurant { 
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}


.setup-restaurant {
  font-family: 'Raleway', sans-serif;
  color: white;
  display: grid;
}

.setup-restaurant > form {
  display: flex;
  flex-direction: column;
}

.setup-restaurant > form > .res-info {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  align-items: center;
}


.setup-restaurant > form label {
  font-size: 1.2em;
}

.setup-restaurant input {
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
  background-color: rgb(60, 60, 60);
  border-radius: 10px;
  border: 1px solid rgb(55, 55, 55);
  padding: 8px;
  margin-top: 0.5em;
  color: white;
  display: block;
}

#upload-img {
  display: flex;
  flex-direction: row;
  row-gap: 1em;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-items: center;
  justify-content: center;
  column-gap: 1em;
}

#upload-img > label > input[type="file"] {
  display: none;
}

