@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --list-dishes-body-background-color: black;
  
  --list-dishes-text-color: white;
  
  --dish-filter-background-color: rgb(31, 31, 31);
  
  --dish-filter-button-color: #4abc11;
  --dish-filter-button-hover-color: #3ea10c ;
  --dish-filter-button-text-color: white;
  --dish-filter-button-hover-text-color: white;

  --preview-dish-category-h5-border-color: white;
}

* {
  box-sizing: border-box;
}

/* body styling */
body {
  background-color: rgb(40, 40, 40);
  overflow: hidden;
}
/* end body styling */


/* main structure */
body > main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "filter previews";
  column-gap: 1em;
  
  justify-items: start;
  align-items: center;
  margin-top: 5em; 
}
/* end main structure */


/* filter aside */
aside#dish-filter {
  grid-area: filter;
  justify-self: center;
  align-self: center;
  margin: 1em;
  padding-top: 0.5em;

  color: var(--list-dishes-text-color);
  background-color: var(--dish-filter-background-color);

  height: fit-content;
  max-height: 100%;
  min-width: 15em;
  border-radius: 10px;
  font-family: 'Raleway', sans-serif;
}

#dish-filter > * {
  padding: 1em;
}

aside#dish-filter > h1 {
  text-align: center;
  padding: 0;     
  margin: 0;
  width: 100%;

  text-align: center;
}

aside#dish-filter > form {
  padding: 1em;
  margin: 0;
}
/* end filter aside */


/* dish previews container */
#dish-previews {
  height: 100%;
  width: 100%;
  grid-area: previews;
  color: var(--list-dishes-text-color);
  font-family: 'Raleway ', sans-serif;
  padding: 0;
}

/* anchors */
#dish-filter a, #dish-previews a {
  text-decoration: none;
  color: var(--list-dishes-text-color);
}

/* dish-filter display structure */
#dish-filter > form {
  display: grid;
  grid-template-areas: "price"
                       "categories";
}

#dish-filter > form > #dish-price {
  grid-area: price;
}

#dish-filter > form > #dish-category {
  grid-area: categories;
}