@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --list-restaurants-body-background-color: black;
  
  --restaurant-filter-text-color: white;
  --restaurant-filter-background-color: rgb(31, 31, 31);

  --restaurant-previews-text-color: white;

  --restaurant-previews-score-container-border-color: white;

  --preview-restaurant-category-h5-border-color: white;

  --restaurant-filter-button-background-color: #4abc11;
  --restaurant-filter-button-hover-background-color: #3ea10c;
  --restaurant-filter-button-text-color: white;
  --restaurant-filter-button-hover-text-color: white;
}

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(40, 40, 40);
  overflow: hidden;
}

body > main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "filter previews";
  column-gap: 1em;
  
  justify-items: start;
  align-items: center;
  margin-top: 5em; 
}


aside#restaurant-filter {
  grid-area: filter;
  justify-self: center;
  align-self: center;
  margin: 1em;
  padding-top: 0.5em;

  color: var(--restaurant-filter-text-color);
  background-color: var(--restaurant-filter-background-color);

  height: fit-content;
  max-height: 100%;
  min-width: 15em;
  border-radius: 10px;
  font-family: 'Raleway', sans-serif;
}


#restaurant-filter > * {
  padding: 1em;
}

aside#restaurant-filter > h1 {
  text-align: center;
  padding: 0;     
  margin: 0;
  width: 100%;
}

aside#restaurant-filter > form {
  margin: 0;
}

#restaurant-filter a, #restaurant-previews a {
  text-decoration: none;
  color: var(--restaurant-filter-text-color);
}

#restaurant-filter > form {
  display: grid;
  grid-template-areas: "score"
                       "categories";
}

#restaurant-filter > form > #restaurant-score {
  grid-area: score;
}

#restaurant-filter > form > #restaurant-category {
  grid-area: categories;
}
