@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
}

/* body styling */
body {
  background-color: rgb(40, 40, 40);
  overflow: hidden;
}

body > main {
  display: grid;

  grid-template-areas: "profile-options option-content";
  grid-template-columns: 20% 80%;
  column-gap: 0;
  border: 1px solid red;
}

body > main > nav#profile-options {
  grid-area: profile-options;
  display: flex;
  flex-direction: column;
  row-gap: 1em;

  border: 1px solid aqua;
}

body > main > section#option-content {
  grid-area: option-content;
  border: 1px solid green;
}