/* 
@ handles the styling of the page of a single restaurant
*/

:root {
  --view-restaurant-body-background-color: black;
  --view-restaurant-body-main-text-color: white;
  
  --restaurant-info-score-button-background-color: #4abc11;
  --restaurant-info-score-button-hover-background-color: #3ea10c;
  --restaurant-info-score-button-text-color: white;
  --restaurant-info-score-button-hover-text-color: white;

  --view-restaurant-dish-description-background-color: white;
  --view-restaurant-dish-description-p-text-color: black;

  --view-restaurant-dish-categories-container-h5-border-color: white;

  --view-restaurant-reviews-container-background-color: #050505;
  --view-restaurant-reviews-container-border-color: white;;

  --view-restaurant-customer-review-background-color: #333333;

  --view-restaurant-review-content-background-color: #333333;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(40, 40, 40);
  margin: 0;
}

body > main {
  display: grid;
  grid-template-areas: "restaurant"
                       "dishes"
                       "reviews";
  justify-content: center;
  margin-top: 5em;
  row-gap: 3em;

  font-family: 'Raleway', sans-serif;
  color: var(--view-restaurant-body-main-text-color);
}

body > main > section#restaurant-info {
  grid-area: restaurant;
  display: grid;
  grid-template-areas: "restaurant-info"
                       "restaurant-img";
  row-gap: 1em;
}


body > main > section#restaurant-dishes {
  grid-area: dishes;
  display:grid;
  grid-template-areas: "dish-title"
                       "dish-container";
}

body > main > section#restaurant-reviews {
  grid-area: reviews;
}


/* restaurant frontpage structure & styling */
section#restaurant-info > .restaurant-frontpage > #restaurant-info {
  grid-area: restaurant-info;
  background-color: rgb(35, 35, 35);
}

section#restaurant-info > .restaurant-frontpage > #restaurant-info > .restaurant-name-score {
  display: flex;
  align-items: center;
  margin: 0;
  padding-left: 1em;
}

section#restaurant-info > .restaurant-frontpage > #restaurant-info > .restaurant-name-score > h1 {
  padding-right: 1em;
  font-size: 2em;
  font-weight: 400;
}

section#restaurant-info > .restaurant-frontpage > #restaurant-info > .restaurant-name-score > h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

section#restaurant-info > .restaurant-frontpage > #restaurant-info > .dish-categories-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

section#restaurant-info > .restaurant-frontpage > #restaurant-info > .dish-categories-container > h5 {
  margin: 0;
  background-color: #626D58;
  padding: 0.5em;  
  border: 0.5px solid #555e4c;
  border-radius: 2px;
  color: white;
  font-family: 'Raleway';
  font-size: 1em;
  font-weight: 300;
}

section#restaurant-info > .restaurant-frontpage > #restaurant-info > .restaurant-coords {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  padding-left: 1em;
  padding-bottom: 1em;
}

section#restaurant-info > .restaurant-frontpage > img {
  grid-area: restaurant-img;

  max-height: 100%;
  max-width: 100%;
}

section#restaurant-info > .restaurant-frontpage > #score-button {
  grid-area: restaurant-img;
  justify-content: end;
  display: flex;
  padding: 0;
}


section#restaurant-info > .restaurant-frontpage > #score-button > button {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 1.5em;

  height: 2em;
  width: 10em;
  background-color: var(--restaurant-info-score-button-background-color);
  color: var(--restaurant-info-score-button-text-color);
  border: none;
  border-radius: 0px;
}

section#restaurant-info > .restaurant-frontpage > #score-button > button:hover {
  background-color: var(--restaurant-info-score-button-hover-background-color);
  color: var(--restaurant-info-score-button-hover-text-color);
}


/* restaurant dishes structure & styling */

section#restaurant-dishes {
  background-color: rgb(35, 35, 35);
  padding: 0;
  margin: 0;
  padding: 1em;
  padding-top: 0;
}

section#restaurant-dishes > h1 {
  grid-area: dish-title;
  font-size: 2em;
  font-weight: 400;
}

section#restaurant-dishes > .dishes-container {
  grid-area: dish-container;
  display: flex;
  flex-direction: row;
  column-gap: 1.5em;
  padding: 0 1.5em;
}


section#restaurant-dishes > .dishes-container > .dish-frontpage {
  position: relative;
  max-width: fit-content;
}

section#restaurant-dishes > .dishes-container > .dish-frontpage > h1 {
  border: 1px solid white;
}

section#restaurant-dishes > .dishes-container > .dish-frontpage > img {
  grid-area: dish-img;

  width: 200px;
  height: 200px;

  max-width: 200px;
  max-height: 200px;
  margin: 0;
}

section#restaurant-dishes > .dishes-container > .dish-frontpage > .dish-description {
  grid-area: dish-description;
  background-color: var(--view-restaurant-dish-description-background-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}

section#restaurant-dishes > .dishes-container > .dish-frontpage > .dish-description > p {
  color: var(--view-restaurant-dish-description-p-text-color);
  margin: 0;
  padding: 0.5em;
}

section#restaurant-dishes > .dishes-container > .dish-frontpage > button.favorite-restaurant {
  position: absolute;
  display: inline;

  top: 1em;
  right: 1em;
  margin: 0;

  background: none;
  border: none;
  
  max-width: 2em;
  max-height: 2em;
}

section#restaurant-dishes > .dishes-container > .dish-frontpage > button.favorite-restaurant > img {
  max-width: 100%;
  max-height: 100%;
}


/* restaurant reviews structure & styling */

section#restaurant-reviews {
  grid-area: reviews;
  display: grid;
  grid-template-areas: "review-title"
                       "review-container";
  padding: 1em;
  padding-top: 0;
  margin: 0;
  background-color: rgb(35, 35, 35);
}

section#restaurant-reviews > h1 {
  grid-area: review-title;
  font-weight: 400; 
  font-size: 2em;
}

section#restaurant-reviews > .reviews-container {
  grid-area: review-container;
  background-color: rgb(55, 55, 55);
  padding: 1em;
}

section#restaurant-reviews > .reviews-container > #customer-review {
  display: grid;
  grid-template-areas: "username-score"
                       "review-content";
  grid-template-rows: max-content max-content;
  border-top: 1px solid rgb(70, 70, 70);
  border-bottom: 1px solid rgb(70, 70, 70);
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

section#restaurant-reviews > .reviews-container > #review-placeholder > h2 {
  font-weight: 300;
}

section#restaurant-reviews > .reviews-container > #customer-review > .author-score-container {
  grid-area: username-score;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

section#restaurant-reviews > .reviews-container > #customer-review > .author-score-container > #pfp-author {
  display: flex;
  align-items: center;
  padding-left: 0.5em;
}

section#restaurant-reviews > .reviews-container > #customer-review > .author-score-container > #pfp-author > img {
  width: 35px;
  height: 35px;
}

section#restaurant-reviews > .reviews-container > #customer-review > .author-score-container > #pfp-author > h3#review-author {
  font-style: italic;
  font-weight: 400;
  font-size: 1em;
  padding-left: 0.5em;
}

section#restaurant-reviews > .reviews-container > #customer-review > .author-score-container > h3#review-score {
  padding-right: 0.5em;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
}

section#restaurant-reviews > .reviews-container > #customer-review > p#review-content {
  grid-area: review-content;
  margin: 0;
  padding-top: 1em;
}

section#restaurant-reviews > .reviews-container > #review-form {
  display: grid;
  grid-template-areas: "form-header"
                       "form-content";
  margin: 1em;
  padding-bottom: 4em;
}

section#restaurant-reviews > .reviews-container > #review-form > h2 {
  grid-area: form-header;
}

section#restaurant-reviews > .reviews-container > #review-form > form {
  grid-area: form-content;

  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

section#restaurant-reviews > .reviews-container > #review-form > form label > input#review-score {
  margin: 0.5em;
}

section#restaurant-reviews > .reviews-container > #review-form > form label > input#review-comment {
  margin: 0em;
  width: 100%;
  height: 10em;
}

section#restaurant-reviews > .reviews-container > #review-form > form > button {
  align-self: flex-end;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 1em;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 2em;
  width: 10em;
  background-color: var(--restaurant-info-score-button-background-color);
  color: var(--restaurant-info-score-button-text-color);
  border: none;
  border-radius: 0px;
}