/* 
@ handles the styling of the page of a single restaurant
*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: black;
  margin: 0;
}

body::before {
  z-index: -1;
  content: "";
  background-image: url("../../assets/img/bg/restaurant.jpg");
  background-size: cover;
  background-attachment: fixed;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.50;
}

body > main {
  display: grid;
  grid-template-areas: "restaurant"
                       "dishes"
                       "reviews";
  justify-content: center;
  margin-top: 5em;

  font-family: 'Raleway', sans-serif;
  color: white;
}

body > main > section#restaurant-info {
  grid-area: restaurant;

  display: grid;
  grid-template-areas: "restaurant-name"
                       "restaurant-img"
                       "score-button";
}

body > main > section#restaurant-dishes {
  grid-area: dishes;
  padding-top: 4em;
  display:grid;
  grid-template-areas: "dish-title"
                       "dish-img"
                       "dish-description";
}

body > main > section#restaurant-reviews {
  grid-area: reviews;

  padding-top: 4em;
}


/* restaurant frontpage structure & styling */
section#restaurant-info > .restaurant-frontpage > h1 {
  grid-area: restaurant-name;
  font-size: 2em;
}

section#restaurant-info > .restaurant-frontpage > img {
  grid-area: restaurant-img;

  width: 1600px;
  height: 700px;

  max-width: 1600px;
  max-height: 700px;
}

section#restaurant-info > .restaurant-frontpage > #score-button {
  grid-area: score-button;
  display: flex;
  justify-content: space-between;
}

section#restaurant-info > .restaurant-frontpage > #score-button > h3 {
  
}

section#restaurant-info > .restaurant-frontpage > #score-button > button {
}


/* restaurant dishes structure & styling */


section#restaurant-dishes > .dishes-container {
  display: flex;
  flex-direction: row;
  column-gap: 1.5em;
  padding: 0 1.5em;
}

section#restaurant-dishes > h1 {
  font-size: 2em;
}

section#restaurant-dishes > .dishes-container > .dish-frontpage {
  position: relative;
  max-width: fit-content;
}

section#restaurant-dishes > .dishes-container > .dish-frontpage > h1 {
  grid-area: dish-title;

}

section#restaurant-dishes > .dishes-container > .dish-frontpage > img {
  grid-area: dish-img;

  width: 200px;
  height: 200px;

  max-width: 200px;
  max-height: 200px;
  margin: 0;
}

section#restaurant-dishes > .dishes-container > .dish-frontpage > div.dish-description {
  grid-area: dish-description;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}

section#restaurant-dishes > .dishes-container > .dish-frontpage > div.dish-description > p {
  color: black;
  margin: 0;
  padding: 0.5em;
}

section#restaurant-dishes > .dishes-container > .dish-frontpage > button.favorite-restaurant {
  position: absolute;
  display: inline;

  top: 1em;
  right: 1em;
  margin: 0;

  background: none;
  border: none;
  
  max-width: 2em;
  max-height: 2em;
}

section#restaurant-dishes > .dishes-container > .dish-frontpage > button.favorite-restaurant > img {
  max-width: 100%;
  max-height: 100%;
}


/* restaurant reviews structure & styling */
section#restaurant-reviews > h1 { 
  font-size: 2em;
}

section#restaurant-reviews > .reviews-container {
  background-color: #050505;
  border: 2px solid white; /* for debug purposes */
}

section#restaurant-reviews > .reviews-container > #customer-review {
  margin: 1em;

  display: grid;
  grid-template-areas: "username-score"
                       "review-content";
  grid-template-rows: max-content max-content;
  
  background-color: #333333;
}

section#restaurant-reviews > .reviews-container > #review-placeholder {
  margin: 1em;
}

section#restaurant-reviews > .reviews-container > #customer-review > .author-score-container {
  grid-area: username-score;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

section#restaurant-reviews > .reviews-container > #customer-review > .author-score-container > #pfp-author {
  display: flex;
  align-items: center;
  padding-left: 0.5em;
}

section#restaurant-reviews > .reviews-container > #customer-review > .author-score-container > #pfp-author > img {
  width: 35px;
  height: 35px;
}

section#restaurant-reviews > .reviews-container > #customer-review > .author-score-container > #pfp-author > h3#review-author {
  font-style: italic;
  font-weight: 400;
  font-size: 1em;
  padding-left: 0.5em;
}

section#restaurant-reviews > .reviews-container > #customer-review > .author-score-container > h3#review-score {
  padding-right: 0.5em;
  font-size: 1em;
}

section#restaurant-reviews > .reviews-container > #customer-review > p#review-content {
  grid-area: review-content;
  margin: 0;
  padding: 1em;
  background-color: #333333;
}






